.borda{
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(3, 196, 255);
}

/*Página Cases de sucessos*/

.total{
	font-weight: bold;
	font-size: 130%;
}

.estiloTotal{
	padding: 3% 3%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 3%;
}
.principal {
    padding: 2em 0;
    background: #FFFFFF;
    margin: 0 auto;
}

.principal p {
    text-align: center;
    margin: 0 auto;     
}

.principal em {
    font-style: italic;
    font-weight: bold;
}

.titulo-quartenario {
    text-align: center;
    display: flow-root;
    font-size: 2em;
    margin: 0 0 1em;
    
}

.servicos {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.servicos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    min-height: 348px;
    padding-bottom: 40px;
}

.servicos li:hover {
    border-color: #F0F8FF;
    
}

.servicos li:active {
    border-color: #87CEFA;
}

.servicos li:hover h2 {
    font-size: 25px;
}

.servicos h2 {
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
}

.servicos-descricao {
    font-size: 15px;
    padding-top: 10px;
}

.negativo {
    color: red !important;
}

.positivo {
    color: green !important;
}
---------------------adiconar-----------------------

*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

--------------representaçãoGráfica--------------------

.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
}