<section class="containerAdicionar">
  <h2 id="titulo-form">{{ text }}</h2>
  <ul id="mensagens-erro"></ul>

  <form form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" id="formulario">
    <div class="">
      <label for="nome">Conta:</label>
      <input id="nome" name="nome" type="text" placeholder="digite o nome da conta" class="campo"
      formControlName="conta">
    </div>

    <div class="grupo">
      <label for="peso">Valor:</label>
      <input id="peso" name="peso" type="text" placeholder="digite o valor da conta"
      class="campo campo-medio" formControlName="valor">
    </div>

    <div class="grupo">
      <label for="altura">Data de Vencimento:</label>
      <input id="altura" name="altura" type="text" placeholder="digite a data de vencimento"
        class="campo campo-medio" formControlName="dataOperacao">
    </div>

    <div class="grupo">
      <label for="gordura">Status:</label>
      <input id="gordura" type="text" placeholder="digite o status da conta"
      class="campo campo-medio" formControlName="status">
    </div>

    <!-- <button id="adicionar-paciente" class="botao_bto-principal"  type="submit">Adicionar</button> -->
    <button id="adicionar-paciente" class="botao_bto-principal" [disabled]="!permiteNewsLetter"
    type="button" (click)="onSubmit()">Adicionar</button>

  </form>
</section>

<!-- <section class="containerTabela" id="tabela">
        <table id="id_da_tabela" class="table table-striped table-hover display"> -->

<table datatable [dtOptions]="dtOptions" class="row-border hover table table-hover">
  <thead>
    <tr>
      <th>Conta</th>
      <th>Valor</th>
      <th>Data de vencimento</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lista">
      <td>{{ item.conta }}</td>
      <td>{{ item.valor }}</td>
      <td>{{ item.dataOperacao | date: 'dd/MM/yyyy'}}</td>
      <td>{{ item.status }}</td>
    </tr>
  </tbody>
</table>
<!-- </table> -->
<!-- </section>  -->
